$bgc-app: rgb(245 245 245);
$bgc-todo-list: rgb(228 229 237);
$bgc-todo-item: rgb(255 255 255);
$bgc-button-cancel: rgb(204 205 222);

$no-to-do: rgb(205 205 208);

$todo-title-complete: rgb(171 171 171);
